
<section class="section section_commit">
    <div class="container">
        <div class="commit">
            <div class="commit__title section__title">Этот метод проверен миллионами людей</div>
            <div class="commit__box owl-carousel js-commit__slide">
                <div class="commit__item">
                    <div class="commit__media"><img src="../media/commit/face-1.jpg" alt=""></div>
                    <div class="commit__body">
                        <div class="commit__name">
                            Dea Bushati
                        </div>
                        <div class="commit__description">
                            Мужа уволили с работы и он начал метаться между заработками. Я не знала, чем ему помочь. Я сидела в декрете с ребенком, работать не могла, старалась изо всех сил, чтобы дома ему было хорошо. После неудачных поисков работы муж решил открыть свой бизнес, дела у него не ладились. Я случайно наткнулась на Money Amulet в интернете и решила заказать для супруга, вдруг поможет. Муж начал носить. Буквально за месяц он получил доход вдвое больше, чем была его зарплата. Сейчас он владеет сетью автомоек и с деньгами у нас все отлично!
                        </div>
                    </div>
                </div>
                <div class="commit__item">
                    <div class="commit__media"><img src="../media/commit/face-2.jpg" alt=""></div>
                    <div class="commit__body">
                        <div class="commit__name">
                            Kevin Shehu
                        </div>
                        <div class="commit__description">
                            Я про Money Amulet услышал от своего дяди, он недавно стал долларовым миллионером. Подумал, что такой богатый человек ерунды не скажет. Нашел официальный сайт, оттуда заказал себе амулет и стал носить не снимая. Через месяц я очень удачно купил пакет акций, а через полтора – занялся трейдингом в интернете. Часть дохода я вложил в криптовалюту и открыл свой бизнес по автолизингу. У меня на счету сейчас полмиллиона долларов. Амулет никогда с себя не снимаю. Заметил, что дядя тоже всегда носит Money Amulet, наверное, это и есть секрет миллионеров.
                        </div>
                    </div>
                </div>
                <div class="commit__item">
                    <div class="commit__media"><img src="../media/commit/face-3.jpg" alt=""></div>
                    <div class="commit__body">
                        <div class="commit__name">
                            Sara Balla
                        </div>
                        <div class="commit__description">
                            После смерти мужа я осталась одна с тремя детьми на руках. Денег не было даже на молоко детям. Я металась между двумя работами: днем устроилась гардеробщицей, а по ночам мыла полы в спортзалах. Все деньги отдавала за ЖКХ, съем квартиры и на школьные сборы детям. На еду почти не оставалось денег, а уж про траты на себя я вообще молчу. Как-то раз мама подарила мне Money Amulet. Я отнеслась к амулету как к безделушке, но чтобы маме было приятно, надела монетку на шею. Через месяц мне предложили перейти на более оплачиваемую работу. Я с тех пор Money Amulet никогда не снимаю, он мне удачу и деньги притягивает!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
