<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__head">
                <div class="face__logo">
                    <img src="../media/face/logo.svg" alt="">
                </div>
            </div>
            <div class="face__body">
                <div class="face__box face__box_left">
                    <div class="face__box-title">
                        <div class="face__title-border"></div>
                        <div class="face__title">Амулет <span>для привлечения денег</span></div>
                        <div class="face__sub-title">Впусти богатство в свою жизнь!</div>
                    </div>
                    <div class="face__list">
                        <div class="face__list-title">MoneyAmulet привлечет в вашу жизнь:</div>
                        <div class="face__item">
                            <img src="../media/face/dolar.svg" alt="">
                            <span class="face__item-text face__item-text_animate1">Финансовое благополучие</span>
                        </div>
                        <div class="face__item">
                            <img src="../media/face/energy.svg" alt="">
                            <span class="face__item-text face__item-text_animate2">Энергетику богатства</span>
                        </div>
                        <div class="face__item">
                            <img src="../media/face/stability.svg" alt="">
                            <span class="face__item-text face__item-text_animate3">Стабильность и независимость</span>
                        </div>
                    </div>
                </div>
                <div class="face__product">
                    <div class="face__product-media">
                        <img src="../media/face/product.png" alt="">
                    </div>
                </div>
                <div class="face__box">
                    <%- include('form') %>
                </div>
            </div>
        </div>
    </div>
</section>
