
<form class="form">
    <div class="form__body">
        <label class="form__label">
            <select class="form__field form__select">
                <option selected value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <span>Страна</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </label>
        <div class="form__footer">
            <a href="" class="form__btn">Заказать</a>
        </div>
    </div>
</form>
