
<section class="section section_help">
    <div class="container">
        <div class="help">
            <div class="help__title section__title">MoneyAmulet поможет разбогатеть каждому</div>
            <div class="help__description">
                <span>MoneyAmulet</span> – это амулет, изготовленный из материала, добытого из гробницы египетского фараона Тутанхамона.
            </div>
            <div class="help__media">
                <img src="../media/help/human.png" alt="">
            </div>
        </div>
    </div>
</section>
