
<section class="section section_instruction">
    <div class="container">
        <div class="instruction">
            <div class="instruction__title section__title">Как это работает?</div>
            <div class="instruction__box">
                <div class="instruction__description">
                    <div class="instruction__descriptio-border"></div>
                    <span>Чтобы стать богатым, не обязательно вкалывать сутками. Вселенная готова одарить вас финансовым благосостоянием, потому что вы этого заслуживаете.</span>
                     Просто позвольте ей вам помочь – носите MoneyAmulet как можно чаще, забудьте негативные высказывания о деньгах и примите главный подарок судьбы с достоинством!
                </div>
                <div class="instruction__product">
                    <img src="../media/instruction/product.png" alt="">
                </div>
            </div>
            <div class="instruction__massonry">
                <div class="instruction__massonry-title">
                    <span>Как только вы получите <mark>MoneyAmulet</mark>, его необходимо подготовить для своей энергетики</span>
                </div>
                <div class="instruction__item instruction__item_1">
                    <span>Для этого проведите ритуал: налейте в стакан чистой воды, сделайте из него три глотка и положите в него амулет</span>
                    <div class="instruction__item-title"><img src="../media/instruction/icon-1.svg" alt=""></div>
                    <div class="instruction__item-count">1</div>
                </div>
                <div class="instruction__item instruction__item_2">
                    <span>Он должен пролежать там всю ночь, после чего MoneyAmulet можно надеть на шею, а оставшейся водой следует полить цветы</span>
                    <div class="instruction__item-title"><img src="../media/instruction/icon-2.svg" alt=""></div>
                    <div class="instruction__item-count">2</div>
                </div>
                <div class="instruction__item instruction__item_3">
                    <span>Чтобы амулет приумножал ваше богатство и приносил еще больше денег, время от времени заряжайте его.</span>
                    <div class="instruction__item-title"><img src="../media/instruction/icon-3.svg" alt=""></div>
                    <div class="instruction__item-count">3</div>
                </div>
                <div class="instruction__item instruction__item_4">
                    <span>Для этого необходимо один раз в месяц в полнолуние класть на подоконник открытый кошелек с деньгами и картами</span>
                    <div class="instruction__item-title"><img src="../media/instruction/icon-4.svg" alt=""></div>
                    <div class="instruction__item-count">4</div>
                </div>
                <div class="instruction__item instruction__item_5">
                    <span>Сверху на кошелек нужно положить MoneyAmulet таким образом, чтобы на него попадал лунный свет.</span>
                    <div class="instruction__item-title"><img src="../media/instruction/icon-5.svg" alt=""></div>
                    <div class="instruction__item-count">5</div>
                </div>
                <div class="instruction__item instruction__item_6">
                    <span>Утром уберите кошелек и не тратьте деньги после этого целые сутки, а амулет носите 7 дней, не снимая.</span>
                    <div class="instruction__item-title"><img src="../media/instruction/icon-6.svg" alt=""></div>
                    <div class="instruction__item-count">6</div>
                </div>
            </div>
            <div class="instruction__footer">
                <span>Даже если вы будете проводить такой ритуал только раз в год, ваши финансы значительно приумножатся безо всяких усилий.</span>
            </div>
        </div>
    </div>
</section>
