
<section class="section section_memory">
    <div class="container">
        <div class="memory">
            <div class="memory__title section__title">Забудьте эти выражения!</div>
            <div class="memory__box">
                <div class="memory__item">Я мало зарабатываю</div>
                <div class="memory__item">Денег на всех не хватит</div>
                <div class="memory__item">Я не умею распоряжаться деньгами</div>
                <div class="memory__item">У меня куча кредитов</div>
                <div class="memory__item">Я не умею копить</div>
                <div class="memory__item">В моей семье нет богачей</div>
                <div class="memory__item">Мне не хватает знаний</div>
                <div class="memory__item">Я слишком глуп, чтобы стать богатым</div>
            </div>
            <div class="memory__media">
                <img src="../media/memory/memory.png" alt="">
            </div>
        </div>
    </div>
</section>
