
<section class="section section_myMoney">
    <div class="container">
        <div class="myMoney">
            <div class="myMoney__title section__title">Позвольте деньгам стать вашими!</div>
            <div class="myMoney__description">
                <div class="myMoney__descriptio-border"></div>
                <span>Как часто вам приходилось сокрушаться на тему нехватки денег?</span>
                 "Богатым просто повезло оказаться в нужное время в нужном месте. Я не такой удачливый, чтобы разбогатеть на пустом месте", – знакомые размышления? Если да, то пора от них отказаться и поверить, что богатым может стать абсолютно каждый, и вы в их числе!
            </div>
            <div class="myMoney__clearMoney">
                <div class="myMoney__clearMoney-icon"><img src="../media/myMoney/arrow.svg" alt=""></div>
                <img src="../media/myMoney/clearMoney.png" alt="">
            </div>
        </div>
    </div>
</section>
