
.face {
    position: relative;
}

.face__head {
    margin-bottom: 100px;
}

.face__logo {
    max-width: 150px;
}

.face__body {
    display: flex;
    justify-content: space-between;
}

.face__box {
    &_left {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.face__box-title {
    position: relative;
}

.face__title-border {
    position: absolute;
    top: -50px;
    right: -40px;
    width: 80%;
    height: calc(100% + 100px);
    content: '';
    border-top: 4px solid #84888c;
    border-right: 4px solid #84888c;
    border-bottom: 4px solid #84888c;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 25px;
        content: '';
        background-color: #84888c;
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 4px;
        height: 25px;
        content: '';
        background-color: #84888c;
    }
}

.face__title {
    position: relative;
    max-width: 360px;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 800;
    color: #c8a77a;
    text-transform: uppercase;
    letter-spacing: 4px;

    & span {
        color: #fff;
    }

    &::before {
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 50%;
        height: 1px;
        content: '';
        background-color: #c8a77a;
    }
}

.face__sub-title {
    display: block;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    color: #fff;
    text-transform: uppercase;
}

.face__list {
    margin-top: 100px;
    color: #fff;
}

.face__list-title {
    max-width: 330px;
    margin-bottom: 20px;
    font-size: 28px;
}

.face__item {
    display: flex;
    align-items: center;
    font-size: 22px;

    & img {
        max-width: 50px;
        margin-right: 10px;
    }

    & + & {
        margin-top: 15px;
    }

    &:last-child {
        & img {
            padding-right: 4px;
            padding-left: 4px;
        }
    }

    & span {
        position: relative;

        &::before {
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 0;
            height: 3px;
            content: '';
            background-color: #84888c;
        }
    }
}

.face__item-text {
    &_animate1 {
        &::before {
            animation: linear lineEvent1 8s infinite;
        }
    }

    &_animate2 {
        &::before {
            animation: linear lineEvent2 6s infinite;
        }
    }

    &_animate3 {
        &::before {
            animation: linear lineEvent3 3s infinite;
        }
    }
}

.face__product {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 681px;
    height: 454px;
    background-image: url('../media/face/bg-amylet.png');
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-50%);
}

.face__product-media {
    position: absolute;
    bottom: 0;
    left: 260px;
    width: 300px;
    height: 354px;
    perspective: 500px;
    transform-style: preserve-3d;

    & img {
        transition: .5s transform;
    }

    &:hover {
        & > img {
            transform: rotateY(180deg);
        }
    }
}

@keyframes lineEvent1 {
    50% {
        width: 70%;
    }

    80% {
        background-color: #c8a77a;
    }

    100% {
        width: 0;
    }
}

@keyframes lineEvent2 {
    50% {
        width: 30%;
    }

    80% {
        background-color: #c8a77a;
    }

    100% {
        width: 0;
    }
}

@keyframes lineEvent3 {
    50% {
        width: 50%;
    }

    80% {
        background-color: #c8a77a;
    }

    100% {
        width: 0;
    }
}

@media (max-width: 1200px) {
    .face__product {
        bottom: -180px;
        left: 55%;
    }

    .face__list {
        max-width: 410px;
    }
}

@media (max-width: 960px) {
    .face__box-title {
        max-width: 380px;
    }

    .face__title {
        max-width: none;
        font-size: 42px;
    }
}

@media (max-width: 768px) {
    .face__body {
        flex-direction: column;
    }

    .face__product {
        position: relative;
        bottom: auto;
        left: auto;
        width: 100%;
        background-position: center center;
        background-size: 100% auto;
        transform: none;
    }

    .face__product-media {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 480px) {
    .face__box-title {
        max-width: 250px;
    }

    .face__title {
        font-size: 28px;
    }

    .face__sub-title {
        font-size: 18px;
        line-height: 1.2;
    }

    .face__list-title {
        max-width: none;
        font-size: 22px;
    }

    .face__item {
        font-size: 18px;
    }
}
