.form {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 25px 40px 60px;
    margin-top: -50px;
    background-color: #f1f1f1;
}

.form__head {
    padding-bottom: 25px;
    margin-right: -40px;
    margin-left: -40px;
    border-bottom: 2px solid #c8a77a;
}

.form__discount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;
    padding-left: 25px;

    & > span {
        position: relative;
        font-weight: 700;
        text-transform: uppercase;

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 120%;
            height: 2px;
            content: '';
            background-color: red;
            transform: translate(-50%, -50%) rotate(13deg);
        }
    }
}

.form__discount-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 180px;
    min-height: 45px;
    background-image: url('../media/form/discount.png');
    background-repeat: no-repeat;
    background-position: center bottom;

    & span {
        &:first-child {
            margin-bottom: 15px;
            font-size: 20px;
            font-weight: 500;
            color: #000;
            text-transform: uppercase;
        }

        &:last-child {
            margin-bottom: 12px;
            font-size: 20px;
            font-weight: 800;
            color: #fff;
            letter-spacing: 2px;
        }
    }
}

.form__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.form__label {
    position: relative;
    margin-top: 30px;

    & span {
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 16px;
        font-weight: 300;
        transition: .1s transform;
        transform: translateY(15px);
    }
}

.form__field {
    display: block;
    width: 100%;
    height: 48px;
    padding: 10px;
    background-color: #ececec;
    border: none;
    border: 1px solid rgba(193, 193, 193, .5);
    border-radius: 3px;

    &:focus {
        outline: none;
    }

    &_active {
        & + span {
            font-size: 14px;
            transform: translateY(-18px);
        }
    }
}

.form__select {
    appearance: none;
    background-image: url("../media/form/arrow.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    background-size: 10px;

    & option {
        color: #000;
    }
}

.form__footer {
    margin-top: 50px;
    text-align: center;
}

.form__btn {
    position: relative;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    background-color: #c8a77a;
    border-radius: 3px;
    transition: .3s background-color;

    &::before {
        position: absolute;
        top: -25px;
        left: -50px;
        width: 2px;
        height: 200%;
        content: '';
        background-color: #e8e8e8;
        box-shadow: 0 0 20px 10px #fff;
        transform: rotate(45deg);
        animation: blik 8s infinite;
    }

    &:hover {
        background-color: #e2a85a;
    }
}

@keyframes blik {
    90% {
        left: -50px;
    }

    100% {
        left: calc(100% + 50px);
    }
}
