
.help {
    position: relative;
}

.help__description {
    position: relative;
    padding-left: 370px;
    font-size: 22px;

    & span {
        font-size: 26px;
        font-weight: 800;
        color: #c8a77a;
        letter-spacing: 4px;
    }
}

.help__media {
    position: absolute;
    bottom: -60px;
    left: 0;
    max-width: 360px;
}

.help__title {
    &.section__title {
        padding-left: 370px;
        text-align: left;

        &::before {
            left: 370px;
            transform: translateX(0);
        }
    }
}

@media (max-width: 768px) {
    .help__title {
        &.section__title {
            padding-left: 0;

            &::before {
                left: 0;
            }
        }
    }

    .help__description {
        padding-left: 0;
        margin-bottom: 30px;
    }

    .help__media {
        position: static;
        margin-bottom: -60px;
    }
}
