.instruction {
    position: relative;
}

.instruction__title {
    &.section__title {
        margin-bottom: 160px;
    }
}

.instruction__sub-title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.instruction__box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.instruction__description {
    position: relative;
    max-width: 500px;
    margin-top: 50px;
    font-size: 20px;

    & span {
        position: relative;
        display: block;
        margin-bottom: 22px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 3px;

        &::before {
            position: absolute;
            bottom: -7px;
            left: 0;
            width: 30%;
            height: 2px;
            content: '';
            background-color: #c8a77a;
        }
    }
}

.instruction__product {
    max-width: 400px;
    margin-top: -100px;
    margin-right: 100px;
}

.instruction__descriptio-border {
    position: absolute;
    top: -50px;
    right: -40px;
    width: 80%;
    height: calc(100% + 100px);
    content: '';
    border-top: 4px solid #c8a77a;
    border-right: 4px solid #c8a77a;
    border-bottom: 4px solid #c8a77a;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 25px;
        content: '';
        background-color: #c8a77a;
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 4px;
        height: 25px;
        content: '';
        background-color: #c8a77a;
    }
}

.instruction__massonry {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
}

.instruction__massonry-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    & span {
        &:last-child {
            max-width: 550px;
        }
    }

    & mark {
        color: #c8a77a;
    }
}

.instruction__item {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(50% - 12px);
    min-height: 200px;
    padding: 40px 245px 40px 25px;
    margin-bottom: 24px;
    overflow: hidden;
    font-size: 18px;
    font-weight: 500;
    color: #444;
    letter-spacing: 1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 0 10px 10px 0;
    box-shadow: 11px 11px 20px -10px rgba(0, 0, 0, 0.2);

    &::before {
        position: absolute;
        top: -200px;
        right: -200px;
        bottom: 0;
        width: 400px;
        height: 400px;
        content: '';
        background-color: #446e73;
        transform: rotate(-35deg);
    }

    &::after {
        position: absolute;
        bottom: 5px;
        left: 5px;
        width: 80px;
        height: 10px;
        content: '';
        background-color: #c8a77a;
    }

    &_1 {
        &::before {
            background-color: #e1bfcd;
        }
    }

    &_2 {
        &::before {
            background-color: #bbc2d4;
        }
    }

    &_3 {
        &::before {
            background-color: #a3adb2;
        }
    }

    &_4 {
        &::before {
            background-color: #656b73;
        }
    }

    &_5 {
        &::before {
            background-color: #64a0c2;
        }
    }

    &_6 {
        &::before {
            background-color: #468578;
        }
    }
}

.instruction__item-title {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.instruction__item-count {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 30px;
    font-weight: 800;
    color: #ececec;
}

.instruction__footer {
    position: relative;
    max-width: 980px;
    padding: 100px 180px 50px 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    background-image: url("../media/instruction/gold.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;

    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 90px;
        height: 5px;
        content: '';
        background-color: #c8a77a;
    }
}
