
.section {
    padding-top: 60px;
    padding-bottom: 60px;

    &_face {
        padding-top: 30px;
        padding-bottom: 160px;
        background-image: url("../media/section/face.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
    }

    &_myMoney {
        padding-top: 160px;
        padding-bottom: 130px;
        margin-top: -100px;
        background-image: url("../media/section/myMoney.png");
        background-repeat: no-repeat;
        background-position: left top;
    }

    &_memory {
        background-image: url("../media/section/memory.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
    }

    &_help {
        background-image: url("../media/section/help.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }

    &_instruction {
        background-color: #fff;
        background-image: url("../media/section/instruction.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &_commit {
        background-color: #ededed;
    }

    &_footer {
        background-color: #000;
    }
}

.section__title {
    position: relative;
    margin-bottom: 80px;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    &::before {
        position: absolute;
        bottom: -20px;
        left: 50%;
        width: 200px;
        height: 2px;
        content: '';
        background-color: #c8a77a;
        transform: translateX(-50%);
    }
}

@media (max-width: 1200px) {
    .section {
        &_face {
            padding-bottom: 260px;
        }
    }
}

@media (max-width: 768px) {
    .section {
        &_face {
            padding-bottom: 100px;
        }

        &_myMoney {
            padding-top: 60px;
            padding-bottom: 60px;
            margin-top: 0;
            background-image: url("../media/section/myMoney-768.jpg");
            background-position: center top;
        }
    }

    .section__title {
        margin-bottom: 60px;
        font-size: 42px;
        line-height: 1.2;
    }
}

@media (max-width: 480px) {
    .section__title {
        font-size: 28px;
    }

    .section {
        &_face {
            background-image: url("../media/section/face-480.jpg");
            background-attachment: inherit;
        }

        &_myMoney {
            background-image: url("../media/section/myMoney-480.jpg");
        }

        &_memory {
            background-image: url("../media/section/memory-480.jpg");
        }

        &_help {
            background-image: url("../media/section/help-480.jpg");
        }

        &_instruction {
            background-image: url("../media/section/instruction-480.jpg");
        }
    }
}
